MaxCore.ser
bin
junit4.*
target
MaxCore.max

### IntelliJ ###
.idea
*.ipr
*.iml
*.iws
out
java.hprof.txt

### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

### Java ###
*.class